.lastcontent {
  width: 100%;
  height: 60vh;
  align-items: center;
  text-align: center;
  margin-top: 10vh;
}

.lastcontent__heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #001c36;
  margin-bottom: 10px;
}

.lastcontent__main {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 57px;
  color: #001c36;
}

.lastcontent__sub {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #001c36;
  margin-top: 20px;
  width: 60%;
}

.lastcontent__btn {
  padding: 1.5rem 4rem;
  margin-top: 30px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  background: #32d3ca;
  color: #001c36;
  border: none;
  border-radius: 4px;
}
