:root {
    font-size: 10px;
    overflow-x: hidden;
  }


.top-line{
    width: 100%;
    border: 4px solid #32D3CA;

}

.con-section{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    margin: 0 auto;
}

.title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    margin-top: 2%;

    text-align: center;
    color: #001C36;
}

.title__text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    width: 727px;
    margin-top: 2%;

    text-align: center;

    color: #001C36;

}

.con-form {
    width: 643px;
    display: flex;
    flex-direction: column;
}



.con-form__text{
    width: 219px;
    text-align: center;
    margin-left: 0px;
    margin-top: 3%;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
}

.react-geocoder{
    width: 643px;
    margin-left: 0px;
    margin-top: 11px;
    line-height: 50px;

    box-sizing: border-box;
    border-radius: 5px;
    color: #C3CAD3;
    font-size: 1.5rem;
    font-family: Inter;
    border: 1px #C3CAD3;
    z-index: 0;
}

.react-geocoder input  {
    height: 51px;
    width: 643px;
    border-radius: 5px;
    z-index: 0;
}

input {
    border: 1px solid #C3CAD3;
}

.react-geocoder-results{
    margin-top: 10px;
    width: 643px;
    box-sizing: border-box;
    border-radius: 5px;
    background: white;
    z-index: 10;
    box-shadow: 0px 0px 10px rgba(0, 28, 54, 0.25);
}

.react-geocoder-item{
    width: 643px;
    box-sizing: border-box;
    height: 50px;
    color: #001C36;
    font-size: 1.5rem;
    padding-left: 3%;
    font-family: Inter;
    background: white;
    z-index: 12;
    border-radius: 5px;
    text-overflow: clip;
}

.react-geocoder-item:hover {
    background: rgba(195, 202, 211, 0.18);
    border-radius: 5px;
    z-index: 12;
    opacity: 1;
    cursor: pointer;
}

.con-form__query::placeholder{
    color: #C3CAD3;
}

.con-form__query:focus{
    border: 3px solid #C3CAD3;  
    outline: none;
}

.con-form__check-box-wrapper {
    width: 585px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.con-form__check-box{
    border: 1px solid #C3CAD3;
    box-sizing: border-box;
    border-radius: 5px;
    background: none;
    width: 24px;
    height: 24px;
}

.check-box__text{
    width: 549px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 0;
}


.form__start-cont{
    width: 643px;
    margin-top: 30px;
    height: 51px;
    background: #32D3CA;
    border-radius: 4px;
    outline: none;
    border: none;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;

    color: #001C36;
}

.form__continue:hover{
    cursor:pointer;
}

.form__continue:focus{
    outline: none;
}
