
input::placeholder {
    color: #C3CAD3;
    font-family: 'Inter';
    font-size: 1.6rem;
}

input {
    padding-left: 3%;
}

button:hover {
    filter: opacity(0.90);
}

.log-in {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}



.log-in__logo{
    margin-top: 51px;
}

.log-in__title{
    margin-top: 21px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;

    text-align: center;
    color: #001C36;
}

.log-in__desc {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #001C36;
    width: 526px;
    text-align: center;
    margin-top: 13px;
}

.log-in__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 522px;
}


  input:focus {
    border: 1px solid #32D3CA;
  }
input {
    font-family: 'Inter';
}


.log-in__password-wrapper {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.log-in__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;

    color: #001C36;
}

.log-in__input {
    margin-top: 44px;
    width: 522px;
    height: 51px;
    border: 1px solid #C3CAD3;
    box-sizing: border-box;
    border-radius: 5px;
    color: #001C36;
    font-size: 1.6rem;

}


.log-in__input--lower {
    margin-top: 34px;
    width: 522px;
    height: 51px;
    border: 1px solid #C3CAD3;
    box-sizing: border-box;
    border-radius: 5px;
    color: #001C36;
    font-size: 1.6rem;

}

.status-alert {
    font-family: 'Inter';
    width: 500px;
}

.status-alert__box.is-red-error {
    background: #FD574D;
    background-color: #FD574D;
}

.status-alert__icon.is-error {
    background-image: url(./assets/Group.svg);
}

.log-in__forgot-password{
    margin-top: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 15px;
    color: #001C36;
    text-decoration: none;
    align-self: flex-end;
}

.log-in__btn{
    margin-top: 34px;
    width: 522px;
    height: 50px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;

    color: #001C36;
}

.signup-form__getStarted:hover{
    filter: opacity(0.80);
    cursor:pointer;
}

.signup-form__getStarted:focus{
    outline: none;
}

.log-in__seperator {
    margin-top: 13px;
}

.log-in__third-party {
    margin-top: 13px;
    width: 522px;
    height: 50px;
}

.log-in__google {
    margin-right: 20px;
    width: 251px;
    height: 50px;
    background: #DE5246;
    border-radius: 4px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.log-in__google-content {
    margin-left: 21px;
    width: 188px;
    height: 24px;
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: space-between;
}

.log-in__fb {
    width: 251px;
    height: 50px;
    background: #1778F2;
    border-radius: 4px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}


.log-in__fb-content {
    margin-left: 21px;
    width: 201px;
    height: 24px;
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 580px) {
    .log-in__third-party {
        display: flex;
        flex-direction: column;
        height: 120px;
        align-items: center;
        justify-content: space-between;
        width: 90%;
    }

    .log-in__google {
        margin: 0 auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .log-in__google-content {
        margin: 0 auto;
    }

    .log-in__fb {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .log-in__fb-content {
        margin: 0 auto;
    }

    .log-in__input, .log-in__input--lower {
        width: 100%;
    }

    .log-in__btn {
        width: 100%;
    }

    .log-in__form {
        width: 90%;
    }

    .log-in__desc {
        width: 90%;
    }

    .log-in__seperator {
        width: 90%;
    }
}
