:root {
    font-size: 10px;
  }


.thanks-top-line{
    width: 100%;
    border: 4px solid #32D3CA;

}

.thanks-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    margin-top: 5%;
}

.thanks-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    margin-top: 2%;

    text-align: center;
    color: #001C36;
}

.thanks-title__text{
    margin-top: 2%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    width: 705px;

    text-align: center;

    color: #001C36;

}



.contributed{
    margin-top: 2%;
}

.gtg{
    width: 681px;
    margin-top: 58px;
    height: 51px;
    background: #001C36;
    border-radius: 4px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

    text-align: center;

    color: #FFFFFF;


}

.gtg:focus{
    outline: none;
}