* {
    margin: 0;
}

.btn--sea {
    background: #32D3CA;
    border-radius: 4px;
    color: #001C36;;
    border: none;
}

button {
    border: none;
}

button:hover {
    cursor: pointer;
    
}

input:focus, button:focus {
    outline: none;
}

.status-alert__box.is-green-success {
    background-color: #41D6A0;
}

.text--sea {
    color: #32D3CA;
}

h3 {
    margin-bottom: 0;
}