
input::placeholder {
    color: #C3CAD3;
    font-family: 'Inter';
    font-size: 1.6rem;
}

input {
    padding-left: 3%;
}

button:hover {
    filter: opacity(0.90);
}

.sign-up {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}



.sign-up__logo{
    margin-top: 51px;
}

.sign-up__title{
    margin-top: 21px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;

    text-align: center;
    color: #001C36;
}

.sign-up__desc {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #001C36;
    width: 526px;
    text-align: center;
    margin-top: 13px;
}

.sign-up__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 522px;
}

input:not(:placeholder-shown):not(:focus) {
    border: 1px solid #32D3CA;
    background: rgba(50, 211, 202, 0.05);
  }
  
  input:placeholder-shown {
    border: 1px solid #C3CAD3;
  }

input:focus {
    outline: none;
    border: 1px solid #32D3CA;
    box-shadow: 0px 0px 0px 4px rgba(50, 211, 202, 0.25);
}

input {
    font-family: 'Inter';
}


.sign-up__password-wrapper {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sign-up__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;

    color: #001C36;
}

.sign-up__input {
    margin-top: 44px;
    width: 522px;
    height: 51px;
    border: 1px solid #C3CAD3;
    box-sizing: border-box;
    border-radius: 5px;
    color: #001C36;
    font-size: 1.6rem;

}

.sign-up__input--small{
    width: 252px;
    margin-top: 3%;
    height: 50px;
    border: 1px solid #C3CAD3;
    box-sizing: border-box;
    border-radius: 5px;

    color: #001C36;
    font-size: 1.6rem;
}


.sign-up__login-instead{
    margin-top: 36px;
    margin-right: 41px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 15px;
    color: #001C36;
    text-decoration: none;

}

.sign-up__btn{
    margin-top: 34px;
    width: 522px;
    height: 50px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;

    color: #001C36;
}

.signup-form__getStarted:hover{
    filter: opacity(0.80);
    cursor:pointer;
}

.signup-form__getStarted:focus{
    outline: none;
}

.sign-up__seperator {
    margin-top: 13px;
}

.sign-up__third-party {
    margin-top: 13px;
    width: 522px;
    height: 50px;
}

.sign-up__google {
    margin-right: 20px;
    width: 251px;
    height: 50px;
    background: #DE5246;
    border-radius: 4px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.sign-up__google-content {
    margin-left: 21px;
    width: 188px;
    height: 24px;
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: space-between;
}

.sign-up__fb {
    width: 251px;
    height: 50px;
    background: #1778F2;
    border-radius: 4px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}


.sign-up__fb-content {
    margin-left: 21px;
    width: 201px;
    height: 24px;
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: space-between;
}

