:root {
  font-size: 10px;
}

.landing {
  width: 100%;
  height: 74vh;
  display: flex;
  background-color: #32d3ca;
  flex-direction: column;
  align-items: center;

}

.landing__left {
  width: 680px;
  margin-top: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.landing__heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #001c36;
  margin-bottom: 10px;
  text-align: center;
}

.landing__main {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  color: #001c36;
  margin-top: 10px;
  text-align: center;
}

.landing__sub {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #001c36;
  margin-top: 20px;
  width: 70%;
  margin-left: -1px;
  text-align: center;
}

.landing__btns {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 400px;
height: 43px;
}

.landing__email {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;

  color: #001c36;
  background-color: transparent;
  border: 1.5px solid #001c36;
  outline: none;
  margin-top: 35px;
  padding: 1.5rem 8rem 1.5rem 1.5rem;
  margin-right: 20px;
  border-radius: 4px;
}

.landing__email::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;

  color: #001c36;
}

.landing__submit {
  padding: 1.5rem 4rem;
  margin-left: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  
  color: #FFFFFF;
  background: #001C36;
border-radius: 4px;
}

.landing__submit--white {
  padding: 1.5rem 4rem;
  margin-left: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  
  color: #001c36;
  background: #FFFFFF;
border-radius: 4px;
}

.landing__right {
  width: 47%;
  margin-right: 50px;
}

.landing__img {
  margin-top: 50px;
  margin-left: 40px;
  width: 96%;
}
